{{- $mouseId := "" }} 
{{- $mouseName:= "" }} 
{{- if eq .chezmoi.username "daddyingrave" }}
{{- $mouseName = "pointer:Logitech G603" }}
{{- else }}
{{- $mouseName = "pointer:TODO" }}
{{- end }}
{{- $mouseId := (output "xinput" "list" "--id-only" (printf "%s" $mouseName)) }}
data:
  top_secret: {{ (onepassword "gbzdiz3ffftcd3zsrydvonjoqu").details.password }} 
  user:
    email: {{ (onepasswordItemFields "5hlzwfkpinvilgo44gjg6laowi").email.v | quote }}
  ssh:
    id_rsa_pub: |
      {{ onepasswordDocument "7fh3srfnvwosfaojswqpqfbl3y" | indent 6 | trim }}
    id_rsa: |
      {{ onepasswordDocument "6gecwqrf4l66xvfsfs45opoqoi" | indent 6 | trim }}
  display:
    output_1: {{ eq .chezmoi.username "daddyingrave" | ternary "DP-2" "primary" }}
    output_2: {{ eq .chezmoi.username "daddyingrave" | ternary "DP-0" "primary" }}
  mouse_id: {{ $mouseId }}

