# PATH
export PATH=$HOME/.local/bin:$HOME/bin:/usr/local/bin:/home/daddyingrave/Programs/Telegram:$PATH

# oh-my-zsh location
export ZSH="/home/daddyingrave/.oh-my-zsh"
export UPDATE_ZSH_DAYS=7

# Theme
ZSH_THEME="avit"

# zsh configuration 
DISABLE_UPDATE_PROMPT="true"
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"

plugins=(
  git 
  docker 
  docker-compose
  chezmoi
  ansible
  brew
  cp
  dnf
  fzf
  helm
  kubectl
  sbt
  scala
  sudo
  systemd
  zsh-interactive-cd
  zsh-navigation-tools
)

autoload -U compinit && compinit

source $ZSH/oh-my-zsh.sh

# User configuration
export EDITOR='nvim'
export GDK_SCALE=1
export QT_SCALE_FACTOR=1.2
export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# Functions
connect_to() {
        sshpass -p '{{ (onepassword "gbzdiz3ffftcd3zsrydvonjoqu").details.password }}' ssh -o StrictHostKeyChecking=no root@$1
}

# Aliases
alias vim="nvim"
alias ssh="kitty +kitten ssh"

