# Enable Powerlevel10k instant prompt. 
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# PATH
export PATH=/usr/bin:$HOME/.local/bin:$HOME/bin:/usr/local/bin:$HOME/Programs/Telegram:$PATH

# oh-my-zsh location
export ZSH="{{ .chezmoi.homeDir }}/.oh-my-zsh"
export UPDATE_ZSH_DAYS=7

# Theme
ZSH_THEME="powerlevel10k/powerlevel10k"

# zsh configuration 
DISABLE_UPDATE_PROMPT="true"
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"
ENABLE_CORRECTION="false"

# vi mode keybindigs
bindkey -v

# brew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# brew auto-completions
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

# Plugins
plugins=(
  git 
  docker 
  docker-compose
  ansible
  brew
  cp
  dnf
  fzf
  helm
  kubectl
  sbt
  scala
  sudo
  systemd
  zsh-interactive-cd
  zsh-navigation-tools
  zsh-syntax-highlighting
  zsh-autosuggestions
  vi-mode
)

autoload -U compinit && compinit

source $ZSH/oh-my-zsh.sh

# User configuration
export EDITOR='nvim'
export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# Functions
connect_to() {
        sshpass -p '{{ .top_secret }}' ssh -o StrictHostKeyChecking=no root@$1
}

# Aliases
alias vim="nvim"
alias ssh="kitty +kitten ssh"

# Locale (hmmm)
export LANG=en_GB.UTF-8
export LC_CTYPE="en_GB.UTF-8"
export LC_NUMERIC="en_GB.UTF-8"
export LC_TIME="en_GB.UTF-8"
export LC_COLLATE="en_GB.UTF-8"
export LC_MONETARY="en_GB.UTF-8"
export LC_MESSAGES="en_GB.UTF-8"
export LC_PAPER="en_GB.UTF-8"
export LC_NAME="en_GB.UTF-8"
export LC_ADDRESS="en_GB.UTF-8"
export LC_TELEPHONE="en_GB.UTF-8"
export LC_MEASUREMENT="en_GB.UTF-8"
export LC_IDENTIFICATION="en_GB.UTF-8"

# sdkman
#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="{{ .chezmoi.homeDir }}/.sdkman"
[[ -s "{{ .chezmoi.homeDir }}/.sdkman/bin/sdkman-init.sh" ]] && source "{{ .chezmoi.homeDir }}/.sdkman/bin/sdkman-init.sh"
export SDKMAN_OFFLINE_MODE=false

[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

