# disable screen saver
xset s off
# don't blank the video device
xset s noblank 
# Disable screen after 10 minutes 
xset dpms 0 0 600

# set mouse sensitivity
xinput --set-prop $(xinput list --id-only "{{ .mouse_name }}") 'libinput Accel Speed' -0.35

# enable NVIDIA performance mode
if type "nvidia-settings"; then
  nvidia-settings --load-config-only -a "[gpu:0]/GPUPowerMizerMode=1" -a "[gpu:0]/GPUMemoryTransferRateOffset[3]=1000"
fi

# TODO: implement condition
# high DPI scaling for GTK apps
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5

# high DPI scaling for QT apps
export QT_SCALE_FACTOR=1.5

# set default terminal app
export TERMINAL=kitty

exec dbus-launch i3

